---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';


const metadata = {
  title: 'Guideslines for Speakers',
};

const steps = [
  {
    title: "Acceptance of Presentation",
    description: "Once your presentation is accepted, you'll receive a confirmation email with further instructions.",
    icon: "tabler:square-number-1"
  },
  {
    title: "Provide us your talk details",
    description: "To ensure we properly prepare the community for your talk, we ask that you provide us with a brief bio (~2-4 sentences), desired affiliations, a talk title, and a talk abstract.",
    icon: "tabler:square-number-2"
  },
  {
    title: "Schedule Your Presentation Date",
    description: "Coordinate with our team to schedule your presentation date that fits within our calendar.",
    icon: "tabler:square-number-3"
  },
  {
    title: "You Share Your Slides with Us?",
    description: "After your presentation, if you agree, please share your slides with us!",
    icon: "tabler:square-number-5"
  },
];
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

  <Hero
  tagline="We want to say ..."
>
  <Fragment slot="title">
    Thank you for presenting to our <br />
    <span class="text-accent dark:text-white highlight"> reading group </span>
  </Fragment>

  <Fragment slot="subtitle">
This page is designed to provide you with clear, step-by-step instructions to help you prepare and deliver your presentation effectively. By adhering to these guidelines, you ensure a smooth and engaging experience for both yourself and our audience. Additionally, our Frequently Asked Questions (FAQ) section is available to address any common queries you might have. Thank you for your valuable participation, and we look forward to discuss with you!
  </Fragment>
</Hero>

<Features3
    id="features"
    title="How to prepare yourself for the big day ?"
    tagline="Step-by-step guide to save time for YOU (and for us too 😊)."
    columns={2}
    items={steps}
    image={{
      src: '~/assets/images/guidelines_illustration3.webp',
      alt: 'Colorful Image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Frequently Asked Questions"
  subtitle="Find answers to common questions about the Mila Biology + AI Reading Group, its activities, and how you can get involved."
  tagline="FAQs"
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: 'Who can join the Mila Biology + AI Reading Group?',
      description:
        'Anyone interested in the intersection of biology and AI can join, including PhD students, post-docs, principal investigators, and industry professionals.',
    },
    {
      title: 'What topics are covered in the reading group?',
      description:
        'We focus on machine learning applications in bioinformatics, as well as related areas in ecology, evolutionary biology, conservation biology, physiology, and more.',
    },
    {
      title: 'How can I become a speaker?',
      description:
        'Any member of the reading group, from PhD students to industry professionals, is welcome to present their work or discuss a paper of interest.',
    },
    {
      title: 'How often do the meetings occur?',
      description:
        'We meet once every two weeks, usually from 3-4 pm, both virtually via Zoom and in-person at Mila.',
    },
    {
      title: 'What is expected from participants?',
      description:
        'Participants are encouraged to read the selected papers beforehand and come prepared with observations and comments for discussion.',
    },
    {
      title: 'How are meetings conducted?',
      description:
        'Meetings are conducted in a hybrid format with presentations followed by discussions, fostering collaboration and knowledge sharing.',
    },
  ]}
/>

</Layout>
